:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
}
/* Start Components */
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.80rem 1rem;
}
.main-title::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green-color);

}
/* End Components */
/* Start Navbar */
nav {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    color: var(--green-color);
    border-left: 1px solid var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
    font-size: 25px;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}
/* End Navbar */
/* Start landing */
.landing {
    background-color: var(--dark-color);
    height: calc(100vh - 72px);
}
/* End landing */
/* Start features */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/* End features */
/* Start our-work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border-radius: 12px;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .row .box {
    overflow: hidden;
    position: relative;
    padding: 5px;
}
.our-work .row .box::before {
    content: attr(data-word);
    position: absolute;
    background-color: rgb(51 209 204 / 75%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: translateX(calc(-100% - 5px));
}
.our-work .row .box:hover::before {
    transform: translateX(0);
}
/* End our-work */
/* Start stuff */
.stuff .desciption {
    max-width: 500px;
}
/* End stuff */
/* Start team */
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow-color);
}
.team .box h4 {
    background-color: var(--green-color);
}
/* End team */
/* Start project */
.project {
    background-color: var(--dark-color);
}
/* End project */
/* Start blog */
.blog .box {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.blog .box img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* End blog */
/* Start subscribe */
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe form .text {
    color: var(--dark-color);
}
.subscribe form input[type="email"] {
    border-color: transparent transparent white transparent ;
    border-width: 1px;
    outline: none;
}
.subscribe form input[type="email"]::placeholder {
    color: white;
}

.subscribe form input[type="submit"] {
    color: var(--yellow-color);
    background-color: var(--dark-color);
    padding: 0.80rem 1rem;
    border-radius: 50rem;
    border: none;
    
}
/* End subscribe */
/* Start footer */
.footer {
    background-color: var(--dark-color);
}
.footer .row .copyright span {
    color: var(--green-color);
}
.footer .row .date span {
    color: var(--yellow-color);
}
.footer ul.social li a svg {
    width: 20px;
    height: 20px;
}
.footer ul.social li a svg.facebook {
    background-color: #1877f2;
}
.footer ul.social li a svg.instagram {
    background-color: #e1306c;
}
.footer ul.social li a svg.linkedin {
    background-color: #0a66c2;
}
.footer ul.social li a svg.github {
    background-color: #333;
}
/* End footer */